---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import CardSmall from "@components/ui/cards/CardSmall.astro";
import CardWide from "@components/ui/cards/CardWide.astro";
import FeaturesStatsAlt from "@components/sections/features/FeaturesStatsAlt.astro";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";

// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";

// Fetching all the product related content and sorting it by main.id
const product: CollectionEntry<"products">[] = (
  await getCollection("products", ({ id }) => {
    return id.startsWith("en/");
  })
).sort(
  (a: CollectionEntry<"products">, b: CollectionEntry<"products">) =>
    a.data.main.id - b.data.main.id,
);

// Define variables for page content
const title: string = "Products";
const subTitle: string =
  "At OptiPlus, we specialize in eyewear and eye care services designed for both professionals and everyday users. Each of our products is meticulously crafted for clarity and durability, ensuring you have the perfect solution for all your vision needs.";

// Testimonial data that will be rendered in the component
const testimonials = [
  // First testimonial data
  {
    content:
      " \"These glasses have completely transformed my daily routine! The lenses are crystal clear, and the frames are both stylish and lightweight. I've never received so many compliments on my eyewear before!\" ",
    author: "Susan Kamau",
    role: "Fashion Blogger | Style & Trends",
    avatarSrc:
      "https://images.unsplash.com/photo-1643960637409-0ffcf92e3517?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YmxhY2slMjBtYW4lMjBhdmF0c3J8ZW58MHx8MHx8fDA%3D",
    avatarAlt: "Image of Susan Kamau",
  },
  // Second testimonial data
  {
    content:
      " \"As someone who spends hours in front of screens, these blue-light glasses have been a lifesaver. No more eye strain or headaches! Plus, they look amazing and feel incredibly comfortable throughout the day.\" ",
    author: "Daniel Muia",
    role: "Software Engineer | Tech Innovators",
    avatarSrc:
      "https://unsplash.com/photos/a-person-taking-a-picture-of-a-sunset-over-a-body-of-water-9eZ0K3Zd0b8",
    avatarAlt: "Image of Daniel Muia",
  },
  // Third testimonial data
  {
    content:
      " \"I needed prescription sunglasses that were both functional and stylish, and these exceeded my expectations. The clarity is phenomenal, and they provide excellent UV protection. I won’t go anywhere without them!\" ",
    author: "Rachel murimi",
    role: "Travel Photographer | WanderLens",
    avatarSrc:
      "https://images.unsplash.com/photo-1737502860946-8fd4e3b26f32?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMXx8fGVufDB8fHx8fA%3D%3D",
    avatarAlt: "Image of Rachel murimi",
  },
];


const pageTitle: string = `Products | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://screwfast.uk/products",
    "url": "https://screwfast.uk/products",
    "name": "Hardware Tools | ScrewFast",
    "description": "Discover the perfect blend of style and clarity with our premium eyewear, crafted for comfort, durability, and precision vision.",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://screwfast.uk",
      "name": "ScrewFast",
      "description": "ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs."
    },
    "inLanguage": "en-US"
  }}
>
  <div
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <div class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
      <div class="flex items-center gap-12">
        <h1
          class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
        >
          {title}
        </h1>
        {
          subTitle && (
            <p class="hidden max-w-screen-sm text-pretty text-neutral-600 dark:text-neutral-400 md:block">
              {subTitle}
            </p>
          )
        }
      </div>
      <PrimaryCTA title="Customer Stories" url="#testimonials" noArrow={true} />
    </div>
    <!--Displaying products in alternating styles. Alternative product gets different card styling.-->
    <!--Maps through all product entries and displays them with either CardSmall or CardWide based on their position.-->
    <section class="grid grid-cols-1 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
      {
        product.map((product, index) => {
          const position = index % 4;
          if (position === 0 || position === 3) {
            return <CardSmall product={product} />;
          } else {
            return <CardWide product={product} />;
          }
        })
      }
    </section>
  </div>
  <!--Features statistics section-->
  <FeaturesStatsAlt
    title="Why Choose OptiPlus?"
    subTitle="Experience crystal-clear vision with OptiPlus eyewear. Whether you're looking for stylish frames or cutting-edge lens technology, our eyewear is designed to enhance your comfort and visual clarity."
    benefits={[
      "High-quality lenses for superior vision and eye protection.",
      "Trendy and ergonomic frames tailored for every lifestyle.",
      "Exceptional customer service to help you find the perfect fit.",
    ]}
  />

  <!--Testimonials section-->
  <TestimonialsSectionAlt
    title="What Our Customers Say"
    testimonials={testimonials}
  />
</MainLayout>
